[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
channels = "*"
channels-redis = "*"
daphne = "*"
uvicorn = "*"

[dev-packages]
ipython = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.13"
